page 
    section.catalog 
        .container 
            .catalog-blocks
                h2.h2 Каталог
                .catalog-items
                    .catalog-item
                        .catalog-bgc
                            img(src="img/1.png", alt="") 
                        a(href="#") Источники бесперебойного питания  
                    .catalog-item
                        .catalog-bgc
                            img(src="img/2.png", alt="")                         
                        a(href="#") Дизель-генераторные установки 
                    .catalog-item
                        .catalog-bgc
                            img(src="img/3.png", alt="")                             
                        a(href="#") Системы <br> постоянного тока
                    .catalog-item
                        .catalog-bgc
                            img(src="img/4.png", alt="") 

                        a(href="#") Аккумуляторные батареи