page 
    section.company
        .container 
            .company-blocks 
                h2 О компании
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                .company-wrap 
                    .company-item 
                        img(src="../img/company.png", alt="")
                        h3 Преимущество 1
                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    .company-item 
                        img(src="../img/company.png", alt="")            
                        h3 Преимущество 2
                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    .company-item 
                        img(src="../img/company.png", alt="")                   
                        h3 Преимущество 3
                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    .company-item 
                        img(src="../img/company.png", alt="")           
                        h3 Преимущество 3
                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt            