block header     
    header.header 
        .container 
            .header-up
                include logo 
                a.header-adress(href="#") Гельсингфорсская ул., 4 корпус 1,  Санкт-Петербург, 194044
                    
                a.header-link.header-link--hov(href="#")
                    <svg class="header-icon user mr-6">
                        <use xlink:href="../img/icons.svg#user"></use>
                    </svg>
                    span.header-link__exit Вход    
                a.header-link(href="#") 
                    <svg class="header-icon">
                        <use xlink:href="../img/icons.svg#telegram"></use>
                    </svg>                
                a.header-link(href="#") 
                    <svg class="header-icon">
                        <use xlink:href="../img/icons.svg#whatsapp"></use>
                    </svg>                
                a.header-link(href="tel:+7 (812) 904-91-57") 
                    <svg class="header-icon header-icon--w mr-8">
                        <use xlink:href="../img/icons.svg#phone"></use>
                    </svg>
                    span.header-link__phone +7 (812) 904-91-57         
                a.header-link(href="#") 
                    <svg class="header-icon header-icon--w">
                        <use xlink:href="../img/icons.svg#bag"></use>
                    </svg>  
            .header-down
                a(href="#") О компании
                a(href="#") Каталог
                a(href="#") Услуги
                a(href="#") Оплата / Доставка 
                a(href="#") Гарантии
                a(href="#") Опыт
                a(href="#") Новости
                a(href="#") Контакты                        