block logo 
    a(href="#") 
        .logo 
            .logo-up
                <svg class="logo-icon">
                    <use xlink:href="../img/icons.svg#logo"></use>
                </svg>
                span Бесперебойные решения
