section.partners
    .container 
        .partners-wrap
            h2.h2 Наши партнеры 
            .partners-items 
                img(src="img/partners_1.png", alt="")
                img(src="img/partners_2.png", alt="")
                img(src="img/partners_3.png", alt="")
                img(src="img/partners_4.png", alt="")
                img(src="img/partners_5.png", alt="")
                img(src="img/partners_1.png", alt="")
                img(src="img/partners_2.png", alt="")
                img(src="img/partners_3.png", alt="")
                img(src="img/partners_4.png", alt="")
                img(src="img/partners_5.png", alt="")
                img(src="img/partners_1.png", alt="")