section.post 
    .container 
        .post-wrap 
            h2.h2.post-h2 Полезная рассылка
            .post-input
                h3 Почта
                input(type="text" placeholder="E-mail")
                .post-input__checkbox 
                    input(type="checkbox") 
                    span Подтверждаю свое согласие на обработку своих персональных данных в соответствии с Политикой конфиденциальности ООО "Андеса"
            button.button.post-botton Отправить     
