.selection
    .container 
        .selection-wrap 
            h2.h2 Подбор оборудования
            .selection-name 
                a.selection-active(href="#") ИБП
                span /
                a(href="#") АКБ
                span /
                a(href="#") ДГУ
                span /
                a(href="#") ЭПУ
                  
            .selection-inputs 
                .selection-info 
                    .selection-input
                        span Однофазный или трехфазный 
                        input(type="text" placeholder ="Одно фазный")  
                    .selection-input
                        span Мощность  
                        input(type="text" placeholder ="230 вт")  
                    .selection-input
                        span Время автономной работы
                        input(type="text" placeholder ="1 день") 
                .selection-info         
                    .selection-input
                        span ФИО
                        input(type="text" placeholder ="Андреc")  
                    .selection-input
                        span Телефон 
                        input(type="text" placeholder ="+7 -- --- --- --")  
                    .selection-input
                        span Почта 
                        input(type="text" placeholder ="@eghweg///")  
            .selection-checkbox 
                input(type="checkbox")
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            button.button.selection-button Отправить     