block title 
section.title 
    .container 
        .title-wrap
            h1 Дизельные Генераторы
            p Во многих случаях, объект получает питание от промышленной сети. Однако регулярные сбои и отключения электричества вызывает множество проблем. Чтобы обезопасить себя от негативных последствий исчезновения или некачественных характеристик электроэнергии можно купить генератор для резервного электропитания.
            input.button(type="submit" value="Подробнее") 