extends layout/app
block page 

    include blocks/header
    include blocks/title
    include blocks/company
    include blocks/catalog
    include blocks/selection
    include blocks/partners
    include blocks/post
    include blocks/footer
    